
ion-modal {
  --height: auto;
}

.saldo{
    color:antiquewhite;
    padding: 2%;
}
.block {
  width: 100%;
  display: flex;
  justify-content: center;
}

.title {
  padding-top: 5%;
  text-align: center;
  left: 0; 
  height: 0;
}

.ion-item{
  height: 11%;
}

.ion-list{
  height: 100%;
}
