.padrao{
background: #183b65;
}


ion-content::part(background) {
     background: #183b65;
}

    
.container {
    text-align: center;
    position: absolute;
    left: 10%;
    right: 10%;
    top: 40%;
    transform: translateY(-50%);
    background: #183b65;
    color:white;
    
}



.login{
  background:#183b65;
  
}

.icone{
    position: relative;
    color:white;
    width: 40px;
	height: 50px;
    margin-left: 80%;
	margin-top: 190%;
    margin-bottom: 0%;

    
}

  .img{
    width:140%;
    height:auto;   
    width: 100%;
    margin: auto;
    display: block;
    
  }   
  
 .estilo{
    text-align: center;
    position: absolute;
    left: 10%;
    right: 10%;
    background: #183b65;
    color:white;
    
  }

 .estilo .botao{
      text-transform: capitalize ;
      --background: white;
      --background-hover: #9ce0be;
      --background-activated: #88f4be;
      --background-focused: #88f4be;
    
      --color: #183b65;;
    
     
      --border-color: #183b65;
      --border-style: solid;
      --border-width: 1px;
    
   
      --padding-top: 20px;
      --padding-bottom: 20px;
      text-align: center;
      display: block;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 15px;
    }
    

  
  .botaobranco {
    text-transform: capitalize ;
    padding-top: 60%;
    --background: white;
    --background-hover: #9ce0be;
    --background-activated: #88f4be;
    --background-focused: #88f4be;
  
    --color: #183b65;;
  
   
    --border-color: #183b65;
    --border-style: solid;
    --border-width: 1px;
  
 
    --padding-top: 20px;
    --padding-bottom: 20px;
    text-align: center;
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
  }
  
  .botaoazul {
    text-transform: capitalize ;
    padding-top: 20%;

    --background: #183b65;;
    --background-hover: #9ce0be;
    --background-activated: #88f4be;
    --background-focused: #88f4be;
  
    --color: white;
  
   
    --border-color: white;
    --border-style: solid;
    --border-width: 2px;
  
    
  
    --padding-top: 25px;
    --padding-bottom: 20px;
    text-align: center;
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
   
  }

ion-modal {
  --height: auto;
}

.white{
    color:aliceblue;
    padding: 2%;
}

.block {
  width: 100%;
  display: flex;
  justify-content: center;
}

.title {
  padding-top: 5%;
  text-align: center;
  left: 0; 
  height: 0;
}

.ion-item{
  height: 11%;
}

.ion-list{
  height: 100%;
}

.btn {
  font-weight: 600;
  color: #183b65;
  padding: 8px 24px;
  border-radius: 50px;
  background-image: linear-gradient(180deg,#ffffff,#bdbdd0);            
}      

.card {
  padding: 3%;
  text-align: center;
  display:list-item;
  justify-content: center;
}

.ioncol{
  display: flex;
  justify-content: center;
}

.sucess {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vh;   
  color: aliceblue;
}

.my-table {
  border: 1px solid black;
  border-collapse: collapse;
  background-color:rgb(255, 255, 255)
}

.my-table ion-col {
  border: 1px solid rgb(0, 0, 0);
  padding: 0.5rem;
}

.segment {
  width: 100%;
  background-color: rgb(163, 169, 171);
}
